
body {
	font-family: Verdana, Geneva, sans-serif;

	margin: 0px;
	padding: 0px;

	display: flex;
	justify-content: center;

	background: #cccccc;
}

.wrapper {
	margin: 25px;
	width: 100%;
	max-width: 800px;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 125px auto 80px;

	/* additional visuals */
	background: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 25px;

	background: #222222;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.logo_wrapper {
  width: 75px;
  height: 75px;

  /* Center */
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo {
	max-height:100%;
	animation: rotating 50s linear infinite;
}

@keyframes rotating {
	from { transform: rotate(0deg);}
	to { transform: rotate(360deg);}
}

.title {
	font-size: 200%;
	color: white;
}

main {
	padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expression {
	font-size: 200%;
	text-align: center;
}

.reading, .candidates, .result {
	text-align: center;
}


.candidate {
	margin-top: 10px;
	height: 50px;
	width: 300px;
}

.controls {
	margin-top: 25px;
	text-align: center;
}

.control {
	height: 50px;
	width: 150px;
}

.expressions_list{
	width: 100%;
	text-align: center;
}

footer {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
	background: #666666;
	color: white;
}
