* {
    box-sizing: border-box;
}

body {

  outline: 1px solid red;

	margin: 0px;
	padding: 0px;
  min-height: 100%;

	/* Flex */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;

	/* Visuals */
  font-family: Verdana, Geneva, sans-serif;
	background: #cccccc;
}

.wrapper {

	/* Position in document */
	margin: 25px;
	width: 100%;
	max-width: 600px;

	/* Flex */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;


	/* additional visuals */
	background: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

@media screen and (max-width: 600px) {
  .wrapper {
    margin: 0;
  }
}


header {

  height: 90px;

  /* flex */
	display: flex;
	justify-content: space-between;
	align-items: stretch;

  /* visuals */
	color: white;
	background: #222222;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

header a{
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100px;

  color: white;
  text-decoration: none;
}

header a:hover:not(.nav_active){
  color: #ceaaaa;
}

header .nav_active{
  color: #ce0000;
}

header .nav_icon{
  font-size: 32px;
}

header .nav_icon_caption{
  margin-top: 5px;
  font-size: 12px;
}

header .title{
  font-size: 32px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}


main {
  /* IE11 compatibility */
  display: block;

	padding: 30px;

	/* take all available vertical space */
	flex-grow: 1;

	/* flex to align content*/
  display: flex;
  flex-direction: column;
  align-items: center;

	/* visuals */
	color: #222222;

  overflow: hidden;

}

.account_info{
  text-align: center;
}
.error_message {
  color: #ce0000;
  text-align: center;
}

/* Related to MCQ */
.mcq_form {
	width: 100%;
}

.target_wrapper {
	font-size: 250%;
	text-align: center;
}


.target_reading_wrapper {
	font-size: 150%;
	text-align: center;
}

.candidates_wrapper {
	margin-top: 15px;
	text-align: center;
	width: 100%;
}

.candidate {
	margin-top: 10px;
	height: 50px;
	width: 80%;
}

.result {
	text-align: center;
}

.buttons_wrapper{
  display: flex;
  justify-content: center;
}

.button {
  cursor: pointer;
}

.add_entry_button_wrapper a, .buttons_wrapper .button{

  margin: 25px;
  font-size: 32px;
  text-decoration: none;
  color: #222222;
}


/* Forms */
main form{
	text-align: center;
  width: 100%;
}

main input{
	margin-top: 10px;
  width: 70%;
  height: 50px;
}

main form input[type='text'], main form input[type='password']{

  padding: 5px;


}



.controls {
	margin-top: 25px;
	text-align: center;
	width: 100%;
}



.index {
  width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  align-items: center;
}

.index a{
  /* flex */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  /* sizing */
  width: 40%;
  height: 100px;
  padding: 10px;

  text-align: center;

  /* visuals */
  color: #222222;
  border: 2px solid #222222;
}

/* Show all */
.expressions_table{
	width: 100%;
	text-align: center;
  border-collapse: collapse;
	color: #222222;
}

.expressions_table tr:first-child{
  /* the row with headers */
  color: white;
  background-color: #666666;
  height: 50px;
}

.expressions_table tr:first-child a{
  color: white;
}



.expressions_table tr:nth-child(even) {
  /* alternate row colors */
  background-color: #dddddd;
}

.expressions_table tr:not(:first-child){
  cursor: pointer;
}

.expressions_table tr:not(:first-child):hover{
  background-color: #ceaaaa;
}

.table_reading{
  margin-top: 2px;
  font-size: 65%;
}

.expressions_table td{
  padding: 5px;
}

.entry_form table {
  margin: auto;
  width: 100%;
}



/* General button settings */
input[type='submit'], input[type='button'] {
	border: 2px solid #222222;
	background: white;
}

input[type='submit']:hover , input[type='button']:hover{
	background: lightGrey;
}


/* footer */
footer {
	height: 70px;
	background: #666666;
	color: white;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

footer a{
	text-decoration: none;
	color: white;
}

footer img{
	height: 35px;
	margin-right: 10px;
	animation: rotating 50s linear infinite;
}
@keyframes rotating {
	from { transform: rotate(0deg);}
	to { transform: rotate(360deg);}
}
